<ion-header >
  <ion-toolbar class="headerColor">
    <ion-title style="text-align: center; color:orangered;" >
      Login
    </ion-title>
    <div style="text-align: right; margin-top: -30px;">
    <ion-button (click)="close()" fill="clear" color="danger">
      <ion-icon name="close" slot="start"></ion-icon>
    </ion-button>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form app">
 
    <div class="boxes">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <form>
      <div style="text-align: center; margin-top: 20%;">
      <ion-item lines="full" class="headerColor">
        <ion-label position="floating" style="color:orangered;">Email:</ion-label>
        <ion-input type="text" required style="color:#ffff;" placeholder="example@example.com"></ion-input>
      </ion-item>
  
      <ion-item lines="full" class="headerColor">
        <ion-label position="floating" style="color:orangered;">Password:</ion-label>
        <ion-input type="password" required style="color:#ffff;" placeholder="Enter password here."></ion-input>
      </ion-item>
    </div>
    <br>
    <br>
      <ion-row>
        <ion-col style="text-align: center;">
          <ion-button size="medium" color="danger"  style="width: 250px;">Sign In</ion-button>
          <br>
          <br>
          <a [routerLink]="['/forgot-password']" class="small-text"  style="color:orangered;">Forgot Password?</a>
        </ion-col>
      </ion-row>
    </form>
</ion-content>

