<ion-header>
  <ion-toolbar class="headerColor">
    <ion-title > 
      Photo Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content text-align = center>
  <ion-toolbar class="headerColor">
      <ion-grid>
          <ion-row>
            <ion-col>
              <ion-slides pager= "true" autoplay="1" loop="true" speed="500">
               <ion-slide class ="slider" *ngFor="let img of featuredImage">
                <img [src]="createImgPath(img.imagesPath)" alt="{{img.imagesPath}}" style="width:300px; height:300px; background-size: cover;" > 
               </ion-slide>
           </ion-slides>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-toolbar>
  <ion-grid class="grid-color" [style.background-color]="customColor">
    <ion-row>
    <ion-col  col-6 col-md-4 col-xl-3 *ngFor="let img of images; let i = index" tappable (click) = "openPreview(i)">
        <div class="image-container"  zoom="true"> 
          <img [src]="createImgPath(img.imagesPath)" alt="{{img.imagesPath}}" style="width:150px; height:150px; border-radius: 15px 50px; background-size: cover;" > 
        </div> 
    </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="login()">
      <ion-icon name="md-cloud-upload"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

