<ion-header >
  <ion-toolbar class="headerColor">
    <ion-title style="text-align: left; color:orangered; margin-left: 5px;" >
      Upload Images
    </ion-title>
    <div style="text-align: right; margin-top: -30px;">
      <ion-button (click)="profile()" size="small" color="danger">
        Profile
      </ion-button>
    <ion-button (click)="logout()" size="small" color="danger" style="margin-left: 5px;">
      Logout
    </ion-button>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form app">
    <div class="boxes">
      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
    <iframe src="https://localhost:44338/" height="100%" width="100%"></iframe>
</ion-content>
